<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AppWebEgunonEuskadi</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>mi primer servlet de prueba</description>
    <display-name>MiPrimerServlet</display-name>
    <servlet-name>MiPrimerServlet</servlet-name>
    <servlet-class>com.ipartek.formacion.egunon.controller.MiPrimerServlet</servlet-class>
    <init-param>
      <description>Cadena de texto para el ongi etorri del usuario: &quot;Ongi Etorri $usuario&quot;</description>
      <param-name>ongietorri</param-name>
      <param-value>Ongi Etorri</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>MiPrimerServlet</servlet-name>
    <url-pattern>/egunon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestInfo</display-name>
    <servlet-name>RequestInfo</servlet-name>
    <servlet-class>com.ipartek.formacion.egunon.controller.RequestInfo</servlet-class>
    <init-param>
      <description>Cadena de texto del footer</description>
      <param-name>ipartek</param-name>
      <param-value>Ipartek</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestInfo</servlet-name>
    <url-pattern>/RequestInfo</url-pattern>
  </servlet-mapping>
</web-app>