<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AppWebEgunonEuskadi</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>Mi primer servlet de prueba</description>
    <display-name>MiPrimerServlet</display-name>
    <servlet-name>MiPrimerServlet</servlet-name>
    <servlet-class>com.ipartek.formacion.egunon.controller.MiPrimerServlet</servlet-class>
    <init-param>
      <description>Cadena de texto para el ongi etorri del usuario.&quot;Ongi Etorri $usuario&quot;</description>
      <param-name>ongietorri</param-name>
      <param-value>Ongi Etorriiii</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>MiPrimerServlet</servlet-name>
    <url-pattern>/egunon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlumnoServlet</display-name>
    <servlet-name>AlumnoServlet</servlet-name>
    <servlet-class>com.ipartek.formacion.egunon.controller.AlumnoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlumnoServlet</servlet-name>
    <url-pattern>/AlumnoServlet</url-pattern>
    <url-pattern>/alumno</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Controlador para gestionar el logeo de usuarios</description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.ipartek.formacion.egunon.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginOutServlet</display-name>
    <servlet-name>LoginOutServlet</servlet-name>
    <servlet-class>com.ipartek.formacion.egunon.controller.LoginOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginOutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PruebaServlet</display-name>
    <servlet-name>PruebaServlet</servlet-name>
    <servlet-class>com.ipartek.formacion.egunon.controller.PruebaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PruebaServlet</servlet-name>
    <url-pattern>/prueba</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PruebaServlet2</display-name>
    <servlet-name>PruebaServlet2</servlet-name>
    <servlet-class>com.ipartek.formacion.egunon.controller.PruebaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PruebaServlet2</servlet-name>
    <url-pattern>/prueba</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
  <servlet>
    <description>Padre de todos los servlets Implementados</description>
    <display-name>ServletMaestro</display-name>
    <servlet-name>ServletMaestro</servlet-name>
    <servlet-class>com.ipartek.formacion.egunon.controller.ServletMaestro</servlet-class>
    <init-param>
      <param-name>log4j-config</param-name>
      <param-value>WEB-INF/config/log4j.properties</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletMaestro</servlet-name>
    <url-pattern>/ServletMaestro</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.ipartek.formacion.egunon.listener.SessionListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>UsuariosServlet</display-name>
    <servlet-name>UsuariosServlet</servlet-name>
    <servlet-class>com.ipartek.formacion.egunon.controller.UsuariosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsuariosServlet</servlet-name>
    <url-pattern>/usuarios</url-pattern>
  </servlet-mapping>
</web-app>