<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AppWebEgunonEuskadi</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>Mi primer servlet de prueba</description>
    <display-name>MiPrimerServlet</display-name>
    <servlet-name>MiPrimerServlet</servlet-name>
    <servlet-class>com.ipartek.formacion.egunon.controller.MiPrimerServlet</servlet-class>
    <init-param>
      <description>Cadena de texto para el ongi etorri del usuario: &quot;Ongi Etorri $usuario &quot;</description>
      <param-name>ongietorri</param-name>
      <param-value>Ongi Etorri</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>MiPrimerServlet</servlet-name>
    <url-pattern>/egunon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet para pedir información</description>
    <display-name>RequestInfo</display-name>
    <servlet-name>RequestInfo</servlet-name>
    <servlet-class>com.ipartek.formacion.egunon.controller.RequestInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestInfo</servlet-name>
    <url-pattern>/requestInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestHeader</display-name>
    <servlet-name>RequestHeader</servlet-name>
    <servlet-class>com.ipartek.formacion.egunon.controller.RequestHeader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestHeader</servlet-name>
    <url-pattern>/requestHeader</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Controlador para gestionar los alumnos</description>
    <display-name>AlumnoServlet</display-name>
    <servlet-name>AlumnoServlet</servlet-name>
    <servlet-class>com.ipartek.formacion.egunon.controller.AlumnoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlumnoServlet</servlet-name>
    <url-pattern>/alumno</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestParameters</display-name>
    <servlet-name>RequestParameters</servlet-name>
    <servlet-class>com.ipartek.formacion.egunon.controller.RequestParameters</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestParameters</servlet-name>
    <url-pattern>/requestParameters</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Formulario</display-name>
    <servlet-name>Formulario</servlet-name>
    <servlet-class>com.ipartek.formacion.egunon.controller.Formulario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Formulario</servlet-name>
    <url-pattern>/formulario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Controlador para gestionar el login</description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.ipartek.formacion.egunon.controller.LoginServlet</servlet-class>
    </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Gestiona la desconexion de la sesion</description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.ipartek.formacion.egunon.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PruebaServlet</display-name>
    <servlet-name>PruebaServlet</servlet-name>
    <servlet-class>com.ipartek.formacion.egunon.controller.PruebaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PruebaServlet</servlet-name>
    <url-pattern>/pruebaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletMaestro</display-name>
    <servlet-name>ServletMaestro</servlet-name>
    <servlet-class>com.ipartek.formacion.egunon.controller.ServletMaestro</servlet-class>
      <init-param>
      <description></description>
      <param-name>lo4j-config</param-name>
      <param-value>WEB-INF/config/log4j.properties</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
   </servlet>
  <servlet-mapping>
    <servlet-name>ServletMaestro</servlet-name>
    <url-pattern>/servletMaestro</url-pattern>
  </servlet-mapping>
  
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
</web-app>